.petInfo{
    width: 40%;
    border: 2px solid black;
    display: flex;
    margin: 0 auto;
    margin-bottom:5px;
}

.petInfo img{
    height: 200px;
    margin: 2px 20px 2px 2px;
}

.petInfo p{
    text-align: left;
    font-size: 1.1rem;

}